
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>PROFILE</h1>
  <!-- <p class="lead">content</p> -->
</div>

<div class="container">

<h3>Welcome, {{ current_user.name }}</h3>

<ul class="list-group">
    <li>Name: {{ current_user.name }}</li>
    <li>Email:  {{ current_user.email }}</li>
    <li><a href="/passwordreset" class="btn btn-primary"><span class="fa fa-key"></span> Reset Password</a></li>
    <li><a href="/signout" class="btn btn-primary">
          <span class="fa fa-sign-out"></span> Sign out
    </a></li>

</ul>
</div>
{% endblock %}