<div class="col-sm-2 sidenav">
        <!-- Right Side Nav links -->
        {% if current_user.name %}
        <div class="well">
          <p>Signed in User Links</p>
          <p><a href="/test">Just a test.</a></p>
        </div>
        <!--<div class="well">-->
          <!--<p>ADS</p>-->
          <!--</div>-->
          {% else %}
          {% endif %}
        </div>